body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: rgb(255, 245, 200);
    color: #d00000;
    margin: 0;
    padding: 0;
    font-size: 16;
}

/* Header and Navigation */
header {
    text-align: center;
    padding: 20px;
    background-color: #13a3a39e;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #383838;
}

/* Main Content */
main {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #000000;
}